body {
  background-color: #f9f3d2;
}

canvas {
  width: 500px;
  height: 500px;
  border: 5px solid black;
  background-color: white;
}

button:hover {
  cursor: pointer;
}

button > img {
  width: 100px;
  height: 100px;
}
